<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kodchasan:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body >
    <section class="absolute w-full h-full top-0">
        <div class="absolute top-0 w-full h-full" style="background-color: #F1EEED"></div>
        <div class="container mx-auto px-4 h-full">
            <div class="flex content-center items-center justify-center h-full">
                <div class="w-full lg:w-4/12 px-4 pt-32">
                    <div class="relative flex flex-col min-w-0 break-words w-full pt-24 pb-10 shadow-lg rounded-lg bg-white border-0">
                        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                            <div>
                                <img src="../assets/images/GutenMorgen.png" height="20" width="20" alt="">
                            </div>
                            <div class="pb-12">
                                <p class="text-2xl" style="font-family: 'Kodchasan'; font-weight: 600">Welcome to the Guten Morgen</p>
                                <a href="sign_up.html" class="text-xs" style="font-family: 'Kodchasan'; font-weight: 300;">New Here? Create an account.</a>
                            </div>
                            <form>
                                <div class="relative w-full mb-12">
                                    <label class="block text-gray-500 text-xs font-bold mb-1" style="font-family: 'Kodchasan'" for="grid-password">Email</label>
                                    <input type="email" class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded border-solid border border-gray-500 text-sm shadow focus:shadow-outline w-full" placeholder="Email" style="transition: all 0.15s ease 0s;">
                                </div>
                                <div class="relative w-full mb-24">
                                    <label class="block text-gray-500 text-xs font-bold mb-1" style="font-family: 'Kodchasan'" for="grid-password">Password</label>
                                    <input type="password" class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded border-solid border border-gray-500 text-sm shadow focus:shadow-outline w-full" placeholder="Password" style="transition: all 0.15s ease 0s;">
                                </div>
                                <div class="text-center mt-6">
                                    <button class="text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded-md shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full" type="button" style="transition: all 0.15s ease 0s; background-color: #274C4B">Sign In</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="flex flex-wrap mt-6">
                        <div class="w-1/2"><a href="#pablo" class="text-gray-300"><small>Forgot password?</small></a></div>
                        <div class="w-1/2 text-right"><a href="#pablo" class="text-gray-300"><small>Create new account</small></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>