<!doctype html>
<html lang="en">
<head>
    {{template "head" .}}
    <title>Sign Up</title>
</head>

<body>
<section class="absolute w-full h-full top-0">
    <div class="absolute top-0 w-full h-full" style="background-color: #F1EEED"></div>
    <div class="container mx-auto px-4 h-full">
        <div class="flex content-center items-center justify-center h-full">
            <div class="w-full lg:w-4/12 px-4">
                <div class="relative flex flex-col min-w-0 break-words w-full pt-12 pb-10 shadow-lg rounded-lg bg-white border-0">
                    <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                        <div>
                            <img src="gutenvisual.png" style="width: 240px; height: 100px;" alt="">
                        </div>
                        <div class="pb-12 pt-12">
                            <p class="text-2xl" style="font-family: 'Kodchasan'; font-weight: 600">Welcome to
                                Gutenvisual</p>
                            <div>
                                <div class="inline-block">
                                    <p class="text-xs" style="font-family: 'Kodchasan'; font-weight: 300;">Already have
                                        an account?</p>
                                </div>
                                <div class="inline-block">
                                    <a href="/login" class="text-xs"
                                       style="font-family: 'Kodchasan'; font-weight: 300; color: #45A3A4; text-decoration-line: underline">Login.</a>
                                </div>
                            </div>
                        </div>
                        <form action="/register" method="POST">
                            <div class="relative w-full mb-12">
                                <label class="block text-gray-500 text-xs font-bold mb-1"
                                       style="font-family: 'Kodchasan'">Email</label>
                                <input type="email" name="email"
                                       class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded border-solid border border-gray-400 text-sm shadow focus:shadow-outline w-full"
                                       style="transition: all 0.15s ease 0s;">
                            </div>
                            <div class="relative w-full mb-24">
                                <label class="block text-gray-500 text-xs font-bold mb-1"
                                       style="font-family: 'Kodchasan'">Password</label>
                                <input type="password" name="password"
                                       class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded border-solid border border-gray-400 text-sm shadow focus:shadow-outline w-full"
                                       style="transition: all 0.15s ease 0s;">
                            </div>
                            <div class="text-center mt-6">
                                <button class="text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded-md shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full"
                                        type="submit" style="transition: all 0.15s ease 0s; background-color: #274C4B">
                                    Sign Up
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>